[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest-watch = "*"
flake8 = "*"
nox = "*"

[packages]
luigi = "*"
jinja2 = "*"
python-decouple = "*"
logme = "*"
wget = "*"
prompt-toolkit = "*"
lnd-grpc = {editable = true,git = "https://github.com/willcl-ark/lnd_grpc.git",ref = "master"}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
