[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest-watch = "*"
flake8 = "*"
nox = "*"

[packages]
luigi = "*"
jinja2 = "*"
python-decouple = "*"
logme = "*"
wget = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
